{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@lingui/babel-plugin-transform-messages",
      {
        "extract": {
          "output": "./locales/en/messages.json"
        }
      }
    ],
    "babel-plugin-transform-react-remove-prop-types"
  ]
}
