.button {
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  transition: all 300ms;
  font-family: var(--fontMulish);

  i {
    transition: all 300ms;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      fill: white !important;
    }
  }

  &.btnDisabled {
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }
}

.btnPrefix,
.btnSuffix {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loading svg {
  max-width: 16px;
  max-height: 16px;
  display: inline-block;
  animation-name: aRotate;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
}

@keyframes aRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.primary {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  color: white;
  padding: 10px 16px;

  &:hover {
    background-color: var(--primary-blue-hover);
    border: 1px solid var(--primary-blue-hover);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--primary-main);
    border: 1px solid var(--primary-main);
  }

  &.btnDisabled {
    background-color: var(--background-disabled) !important;
    border: 1px solid var(--background-disabled) !important;
    color: var(--text-disabled) !important;
    * {
      color: var(--text-disabled) !important;
    }
  }

  &.btnDisabled {
    background-color: var(--primary-blue-disabled);
  }

  &.large {
    padding: 10px 16px;
  }

  &.medium {
    padding: 7px 12px;
  }
}

.outlined {
  background-color: inherit;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  padding: 10px 16px;

  &:hover {
    background-color: var(--primary-blue);
    opacity: 0.1;
  }

  &:focus,
  &:focus-visible {
    background-color: var(--primary-main);
    border: 1px solid var(--primary-main);
  }

  &.btnDisabled {
    background-color: var(--background-disabled) !important;
    border: 1px solid var(--background-disabled) !important;
    color: var(--text-disabled) !important;
    * {
      color: var(--text-disabled) !important;
    }
  }

  &.btnDisabled {
    background-color: var(--primary-blue-disabled);
  }

  &.large {
    padding: 10px 16px;
  }

  &.medium {
    padding: 7px 12px;
  }
}
