.text-primary {
  color: var(--primary-blue);
}

.text-neutral-10 {
  color: var(--neutral-10);
}

.text-white-70 {
  color: var(--white-70);
}

.heading0-bold {
  font-weight: 700;
  font-size: 72px;
  line-height: 100px;
}
.heading1-extra-bold {
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
}
.heading1-bold {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}
.heading2-bold {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}
.heading3-bold {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.heading3-semi-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}
.heading4-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.heading4-semi-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.heading5-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.heading5-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.heading6-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.title1-semi-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title2-semi-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.caption1-semi-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.caption2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.specific-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
