.main_page {
  position: relative;
  background-size: cover;
}

.main_page::before {
  content: '';
  position: absolute;
  top: 150px;
  left: 450px;
  width: 80%;
  height: 80%;
  background-image: url('src\images\ecosystem\titlepage.png'),
    url('src\images\ecosystem\titlepage_2.png');
  background-size: cover;
  background-position: right, right 180px top 10px;
  transform: scaleX(-1);
  z-index: -1;
}

.achived_page {
  background-image: url('src\images\ecosystem\achievedBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.bgTitleGradient {
  background: linear-gradient(353deg, #000 20.97%, rgba(0, 0, 0, 0) 94.13%);
}

.bgGradient {
  background: linear-gradient(
    92deg,
    #ffe249 4.58%,
    #b7ff5c 19.82%,
    #82efff 38.23%
  );
}
