.credit {
  // background: linear-gradient(
  //   92deg,
  //   #ffe249 4.58%,
  //   #b7ff5c 19.82%,
  //   #82efff 38.23%
  // );
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: #dbff73;
  font-size: 24px;
  line-height: 30px;
  height: 30px;
}
